.firstp img {
    height: 30px;
    width: 40px;
}

.welcome {
background-image: url("../img/back1.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
text-align: center;
color:white;
height:auto;
width:100%;
padding:25%;
height:100%;
}
/* .nav{
    padding-top:0px;
} */

.about {
    background-color:#2B0903;
    color:white;
    text-align: center;
    background-position:center;
    background-repeat: no-repeat; 
    
}

img .img-about {
    display: inline-block;

}

.menu {
    display:flex;
    
}

.order {
    background-image:url("../img/back2.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
    color:white;
    padding:10%;
    text-align: center;
}
#orderButton{
    margin-top: 20px;
    padding: 5px;
    
    
}

.orderCalculation {
    padding: 20px;
 margin: 0px auto;
 background-color: rgb(39, 10, 4);
 color:white;
 border-radius: 4px;
 /* box-shadow: 0px 0px 10px rgb(219, 22, 48); */
 opacity:0.9;
 width: 30%;
 height: 400px;
 top: 15vh;
 right: 15%;
 left: 60%;
 /* z-index: 4;   */
 /* display: none; */
 font-size: 25px;
 margin-top: 20px;


}
.contacts {
    background-color:#120301 ;
    text-align: center;
    color:white;
}

.locationArea {
    visibility: hidden;
}

.modal-bg {
    position: fixed;
    top:0;
    width:100%;
    height:100vh;
    background-color: black 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
    opacity:0;
}

.modal {
    background-color:#120301;
    width:30%;
    height:20%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}

.modal-button {
    width:30%;
    height:30%;
    display:flex;
}

.bg-active {
    visibility: visible;
    opacity:1;
}

.modal-close {
    position: absolute;
    top:10px;
    right:10px;
}

#myForm {
    background-color:#2B0903;
    opacity:0.8;
}